* {
  font-family: "Lato", sans-serif;
}

body {
  height: 100%;
  display: flex;
  background: aliceblue;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.f {
  display: flex;
}

.fe {
  align-items: flex-end;
}


.dashboard {
  background-color: #f6f8fa;
  width: 420px;
  border-radius: 30px;
  margin: auto;
}

header {
  background-color: white;
  overflow: hidden;
  border-radius: 10px 10px 50px 50px;
  padding: 40px 40px 20px;
  box-shadow: 0 -5px 27px 0 rgba(128, 128, 128, 0.15);
}

.weather {
  margin-top: 40px;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.weather sup {
  font-size: 11px;
  position: relative;
  top: -11px;
}

.weather::before {
  content: "";
  position: absolute;
  width: 130px;
  height: 60px;
  right: 0;
  bottom: 14px;
}

.weather>div+div {
  margin-left: 30px;
}

.weather>div>strong {
  font-size: 20px;
}

.weather>div>p {
  color: #9e9e9e;
  margin-top: 10px;
}

.category {
  overflow: hidden;
  margin-top: 10px;
}

.category ul {
  display: flex;
}

.category li+li {
  margin-left: 40px;
}

.category a {
  font-size: 17px;
  font-weight: 600;
  color: #444;
  white-space: nowrap;
}

.category a:hover,

/*

.category a.active {
  color: #444;
}

.category a.active {
  position: relative;
}

.category a.active::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 6px;
  background-color: #444;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -15px;
}
*/
.heading .title {
  margin: 0;
  font-size: 36px;
}
.heading .date {
  margin: 10px 0;
  font-size: 16px;
}

